$ocean-blue: #032270;
$header-height: 80px;
$text-font: "wdth" 120, "wght" 400, "GRAD" 100, "XTRA" 468, "YOPQ" 90, "YTDE" -203, "YTUC" 712;
$medium-font: "wdth" 120, "wght" 500, "GRAD" 100, "XTRA" 468, "YOPQ" 90, "YTDE" -203, "YTUC" 712;
$bold-font: "wdth" 151, "wght" 800, "GRAD" 0, "XTRA" 480, "YOPQ" 25, "YTDE" -305, "YTUC" 760;

@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wdth,wght,GRAD,XTRA,YOPQ,YTDE,YTUC@8..144,120,400,100,468,90,-203,712;8..144,120,500,100,468,90,-203,712;8..144,151,800,0,480,25,-305,760&display=swap');


body {
    background-color: $ocean-blue;
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto Flex', sans-serif;
    font-variation-settings: $text-font;
}

.header {
    position: fixed;
	top: 0; left: 0;
    width: 100%;
    height: fit-content;
    background-color: $ocean-blue;
    color: white;
    z-index: 2;

    transition: transform .3s ease;
}

.header.hide {
	transform: translateY(-$header-height);
}


.head-nav {
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.3s;
    a {
        height: $header-height;
        line-height: $header-height;
        font-size: 1.5rem;
        text-decoration: none;
        color: #fff;       
    }
    .menu-close-cont {
        display: none;
        width: 100%;
        height: $header-height;
        transition: 0.2s;

        img {
            width: 44px;
            margin: 0 auto;
        }

        .icon-menu {
            display: none;
            height: $header-height;
            width: fit-content;
        }
        .icon-close {
            display: none;
            height: $header-height;
            width: fit-content;
            
        }

    }
}

@media (min-width: 600px) and (max-width: 1249.98px) {
    .head-nav {
        width: 90%;
    }
}

@media screen and (max-width: 599.98px) {
    .head-nav {
        a {
            display: none;
            height: 0px;
        }
        .menu-close-cont {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            
            img {
                margin: auto;
            }

            .icon-menu {
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin-right: 5%;
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .head-nav.responsive {

        position: relative;
        flex-direction: column;
        width: 100%;

        .menu-close-cont {
            width: 100%;
            height: $header-height;
            border-bottom: solid rgba(255, 255, 255, 0.5) 1px;
            flex-direction: row;
            justify-content: flex-start;

            img {margin: auto;}

            .icon-menu {
                display: none;
            }
            .icon-close {
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin-left: 5%;
            }
        }
        a {
            width: 100%;
            height: $header-height;
            line-height: $header-height;
            display: block;
            text-align: center;
        }
  }
}

.wrapper {
    width: 100%;
    background-color: #0b627d;
    box-sizing: border-box;
    padding-bottom: 10vw;
}

.main-pic {
    z-index: 0;
    position: absolute;
    left: 0;
    top: -10vw;
    width: 100%;
}

.main {
    width: 1200px;
    margin: 0 auto;
    margin-top: $header-height;
    display: flex;
    flex-direction: column;

    background-color: #0b627d;
}
@media screen and (max-width: 1249.98px) {
    .main {
        width: 90%;
    }
    .main-pic {
        top: 0;
    }
}

.slogan {
    position: relative;
    flex-direction: column;
    width: 100%;
    height: 48vmax;
    color: white;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: flex-end;
    
    .slogan-in {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        h2 {
            font-size: 2.5rem;
            text-align: center;
            font-weight: 800;
            font-variation-settings: $bold-font;
        }
        .main-but {    
            background-color: #F13C20;
            width: 285px;
            height: 56px;
            position: relative;
            color: #fff;
            font-size: 1.75rem;
            border-radius: 40px;
            border: 0px;
            margin-top: 32px;
            p {
                font-family: 'Roboto Flex', sans-serif;
                font-variation-settings: $medium-font;
            }
        }
    }
    
}

.block {
    width: 100%;
    position: relative;
    margin: 0 auto;
    margin-top: 10vw;
}

.title {   
    font-size: 2.25rem;
    font-variation-settings: $bold-font;
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 100%;
    height: fit-content; 
    color: #fff;
    .separator {
        align-items: center;
        width: 144px;
        height: 4px;
        background-color: #fff;
        opacity: 50%;
        margin-top: 16px;
        border-radius: 16px ;
    }
}

.yachts {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 42px;

    .yacht-card {
        border-radius: 32px;
        background-color: #fff;
        width: 45.5%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: fit-content;
        position: relative;

        img {
            width: 100%;
            position: relative;
            border-radius: 32px 32px 0px 0px;
        }
        .name {
            font-size: 2rem;
            text-align: center; 
            position: relative;
            margin-top: 12px;
            font-variation-settings: $bold-font;
        }
        .cost-cont {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            padding: 17.5px 0px 17.5px 0px;

            .ruble {
                width: 28px;
                height: 28px;
                position: relative;
                
            }
            .cost {
                font-size: 1.5rem;
                position: relative;
                text-align: center;
            }
        }
        .inf-but-cont {
            width: 100%;
            display: inline-block;
            padding: 0px 12px 12px 12px;

            .inf-but {
                position: relative;
                background-color: #F13C20;
                width: 100%;
                height: 56px;
                color: #fff;
                font-size: 1.5rem;
                border-radius: 40px;
                border: 0px;
                p {
                    font-family: 'Roboto Flex', sans-serif;
                    font-variation-settings: $medium-font;
                }
            }
        }    
    }
} 

@media screen and (max-width: 767.98px) {
    .yachts {
        flex-direction: column;

        .yacht-card {
            width: 100%;
        }
        .yacht-card:first-child {
            margin-bottom: 40px;
        }
    }
    .main-pic {
        top: 20px;
    }
}

.comments {
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 42px;

    .comments-card {
        width: 30%;
        background-color: #fff;
        color: #000;
        box-sizing: border-box;
        padding: 28px 28px;
        border-radius: 32px;

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        font-size: 1.5rem;

        .comments-name {
            margin-top: 10px;
            font-variation-settings: $medium-font;

            p {
                text-align: center;
            }
        }
    }
}

@media screen and (max-width: 767.98px) {
    .comments {
        flex-direction: column;

        .comments-card {
            width: 100%;
        }
        .comments-card:not(:first-child) {
            margin-top: 24px;
        }
    }
}

.contacts {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 16px;
    background-color: #fff;
    border-radius: 32px;
    margin-top: 42px;

    .data {
        display: flex;
        flex-direction: column;
        width: 28%;

        font-size: 1.5rem;
        text-align: center;

        .data-corr:not(:last-child) {
            margin-bottom: 54px;
        }

        .mini-title {
            height: fit-content;
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin-bottom: 8px;

            p {
                margin-top: auto;
                margin-bottom: auto;
                margin-left: 16px;
            }
        }
    }

    .map {
        width: 70%;
        border-radius: 18px;

        iframe {
            border-radius: 18px;
        }
    }
}

@media screen and (max-width: 1249.98px) {
    .contacts {
        .data {
            width: 60%;
        }
        .map {
            width: 38%;
        }
    }
}

@media screen and (max-width: 629.98px) {
    .contacts {
        flex-direction: column;
        .data {
            width: 100%;
            order: 1;
        }
        .map {
            width: 100%;
            height: 344px;
            order: 0;
            margin-bottom: 16px;
        }
    }
}

footer {
    width: 100%;
    height: fit-content;
    box-sizing: border-box;
    padding: 28px 0px 56px 0px;

    background-color: $ocean-blue;
    color: #fff;

    z-index: 1;

    .footer-content {
        width: 1200px;
        margin: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .footer-title {
            font-size: 1.5rem;
            font-variation-settings: $bold-font;
            text-align: center;
        }
    
        .footer-data {
            width: 40%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
    
            font-size: 1.5rem;
    
            p {
                width: 100%;
            }
        }
    }
}

@media screen and (max-width: 1249.98px) {
    footer {
        .footer-content {
            width: 90%;

            .footer-data {
                flex-direction: column;
                p {
                    text-align: right;
                }
            }
        }
    }
}

@media screen and (max-width: 629.98px) {
    footer {
        .footer-content {
            .footer-title {
                font-size: 1rem;
                width: 50%;
            }
            .footer-data {
                width: fit-content;
                justify-content: center;

                .footer-dis {
                    display: none;
                }

                p {
                    font-size: 1rem;
                    width: fit-content;
                    white-space: nowrap;
                }
            }
        }
    }
}

