$ocean-blue: #032270;


body {
    background-color: $ocean-blue;
}

.head {
    position: relative;
    width: 100%;
    height: 50px;
    background-color: $ocean-blue;
    color: white;
    z-index: 1;
}

.head-nav {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    a {
        font-size: 20px;
    }
}

.main-pic {
    position: absolute;
    top: -136px;
    width: 100%;
}

.slogan {
    position: relative;
    flex-direction: column;
    width: 100%;
    height: 130px;
    top: 859px;
    color: white;
    display: flex;
    margin: 0 auto;
    align-items: center;
    h2 {
        font-size: 40px;
        align-items: center;
    }
    .main-but {    
        background-color: #F13C20;
        width: 285px;
        height: 56px;
        position: absolute;
        top: 74px;
        color: #fff;
        font-size: 28px;
        border-radius: 40px;
        border: 0px;
    }
}
.title-1 {
    margin: 0 auto;
    font-size: 40px;
    position: absolute;
    display: flex;
    flex-direction: column;
    text-align: center;
    top: 1146px;
    align-items: center;
    width: 100%;
    height: 67.86px;
    color: #fff;
    .separator {
        position: relative;
        align-items: center;
        width: 144px;
        height: 3px;
        background-color: #fff;
        opacity: 50%;
        top: 16px;
        border-radius: 16px ;
    }
}

.yachts {
    width: 100%;
    height: 700px;
    display: flex;
    position: absolute;
    justify-content: space-between;
    top: 1300px;
    .gold-mini {
        height: 700px;
        width: 663px;
        position: relative;
        // 1Переделать позишн - убрать абсолютное позиционирование
        
    }
}
