body {
  background-color: #032270;
}

.head {
  position: relative;
  width: 100%;
  height: 50px;
  background-color: #032270;
  color: white;
  z-index: 1;
}

.head-nav {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.head-nav a {
  font-size: 20px;
}

.main-pic {
  position: absolute;
  top: -136px;
  width: 100%;
}

.main {
  margin: auto;
  display: flex;
  flex-direction: column;
}

.slogan {
  position: relative;
  flex-direction: column;
  width: 100%;
  height: calc(100vh - 50px - 120px);
  color: white;
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: flex-end;
}

.slogan .slogan-in {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slogan .slogan-in h2 {
  font-size: 40px;
  align-items: center;
}

.slogan .slogan-in .main-but {
  background-color: #F13C20;
  width: 285px;
  height: 56px;
  position: relative;
  color: #fff;
  font-size: 28px;
  border-radius: 40px;
  border: 0px;
  margin-top: 20px;
}

.block-1 {
  position: relative;
  margin: 0 auto;
  top: 880px;
}

.title-1 {
  font-size: 40px;
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  top: 40px;
  align-items: center;
  width: 100%;
  height: 67.86px;
  color: #fff;
}

.title-1 .separator {
  position: relative;
  align-items: center;
  width: 144px;
  height: 3px;
  background-color: #fff;
  opacity: 50%;
  top: 16px;
  border-radius: 16px;
}

.yachts {
  width: 100%;
  height: 700px;
  display: flex;
  position: relative;
  justify-content: space-between;
  top: 110px;
}

.yachts .gold-mini {
  height: 700px;
  width: 663px;
  position: relative;
}
