@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wdth,wght,GRAD,XTRA,YOPQ,YTDE,YTUC@8..144,120,400,100,468,90,-203,712;8..144,120,500,100,468,90,-203,712;8..144,151,800,0,480,25,-305,760&display=swap");
html {
  overflow: auto;
}

html.lock {
  overflow: hidden;
}

body {
  width: 100%;
  background-color: #032270;
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto Flex', sans-serif;
  font-variation-settings: "wdth" 120, "wght" 400, "GRAD" 100, "XTRA" 468, "YOPQ" 90, "YTDE" -203, "YTUC" 712;
  color: #444444;
}

body.lock {
  overflow: hidden;
}

@media screen and (max-width: 599.98px) {
  html {
    font-size: 12px;
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: fit-content;
  background-color: #032270;
  color: white;
  z-index: 2;
  transition: transform .3s ease;
}

.header.hide {
  transform: translateY(-100%);
}

.head-nav {
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: .3s;
  background-color: #032270;
}

.head-nav a {
  height: 80px;
  line-height: 80px;
  font-size: 1.5rem;
  text-decoration: none;
  color: #fff;
}

.head-nav .menu-close-cont {
  display: none;
  width: 100%;
  height: 80px;
  transition: .3s;
}

.head-nav .menu-close-cont img {
  width: 44px;
  margin: 0 auto;
}

.head-nav .menu-close-cont .icon-menu {
  display: none;
  height: 80px;
  width: fit-content;
}

.head-nav .menu-close-cont .icon-close {
  display: none;
  height: 80px;
  width: fit-content;
}

@media (min-width: 699.98px) and (max-width: 1249.98px) {
  .head-nav {
    width: 90%;
  }
}

@media screen and (max-width: 699.98px) {
  .header {
    height: 80px;
  }
  .head-nav a {
    display: none;
  }
  .head-nav .menu-close-cont {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  .head-nav .menu-close-cont .icon-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 5%;
  }
  .head-nav.responsive {
    position: relative;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    background-color: #032270;
  }
  .head-nav.responsive .menu-close-cont {
    width: 100%;
    height: 80px;
    border-bottom: solid rgba(255, 255, 255, 0.5) 1px;
    flex-direction: row;
    justify-content: flex-start;
  }
  .head-nav.responsive .menu-close-cont img {
    margin: auto;
  }
  .head-nav.responsive .menu-close-cont .icon-menu {
    display: none;
  }
  .head-nav.responsive .menu-close-cont .icon-close {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5%;
  }
  .head-nav.responsive a {
    width: 100%;
    height: 80px;
    line-height: 80px;
    display: block;
    text-align: center;
  }
}

.fake-header {
  width: 100%;
  height: 80px;
  background-color: #032270;
}

.wrapper {
  width: 100%;
  background-color: #0b627d;
  background-image: url("../../../pictures/background_pic.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  box-sizing: border-box;
}

.wrapper.lock {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.main-pic {
  z-index: 0;
  position: absolute;
  left: 0;
  top: -10vw;
  width: 100%;
}

.main {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1249.98px) {
  .main {
    width: 90%;
  }
  .main-pic {
    top: 0;
  }
}

.slogan {
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 48vmax;
  color: white;
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: flex-end;
}

.slogan .slogan-in {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slogan .slogan-in h2 {
  font-size: 2.5rem;
  text-align: center;
  font-weight: 800;
  font-variation-settings: "wdth" 151, "wght" 800, "GRAD" 0, "XTRA" 480, "YOPQ" 25, "YTDE" -305, "YTUC" 760;
}

.slogan .slogan-in .main-but {
  background-color: #F13C20;
  width: 285px;
  height: 56px;
  position: relative;
  color: #fff;
  font-size: 1.75rem;
  border-radius: 40px;
  border: 0px;
  margin-top: 32px;
}

.slogan .slogan-in .main-but p {
  font-family: 'Roboto Flex', sans-serif;
  font-variation-settings: "wdth" 120, "wght" 500, "GRAD" 100, "XTRA" 468, "YOPQ" 90, "YTDE" -203, "YTUC" 712;
}

.block {
  width: 100%;
  position: relative;
  margin: 0 auto;
  margin-top: 10vw;
}

.title {
  font-size: 2.25rem;
  font-variation-settings: "wdth" 151, "wght" 800, "GRAD" 0, "XTRA" 480, "YOPQ" 25, "YTDE" -305, "YTUC" 760;
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  width: 100%;
  height: fit-content;
  color: #fff;
}

.title .separator {
  align-items: center;
  width: 144px;
  height: 4px;
  background-color: #fff;
  opacity: 50%;
  margin-top: 16px;
  border-radius: 16px;
}

.yachts {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 42px;
}

.yachts .yacht-card {
  border-radius: 32px;
  background-color: #fff;
  width: 45.5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: fit-content;
  position: relative;
}

.yachts .yacht-card img {
  width: 100%;
  position: relative;
  border-radius: 32px 32px 0px 0px;
}

.yachts .yacht-card .name {
  font-size: 2rem;
  text-align: center;
  position: relative;
  margin-top: 12px;
  font-variation-settings: "wdth" 151, "wght" 800, "GRAD" 0, "XTRA" 480, "YOPQ" 25, "YTDE" -305, "YTUC" 760;
}

.yachts .yacht-card .cost-cont {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 17.5px 0px 17.5px 0px;
}

.yachts .yacht-card .cost-cont .ruble {
  width: 28px;
  height: 28px;
  position: relative;
}

.yachts .yacht-card .cost-cont .cost {
  font-size: 1.5rem;
  position: relative;
  text-align: center;
}

.yachts .yacht-card .inf-but-cont {
  width: 100%;
  display: inline-block;
  padding: 0px 12px 12px 12px;
}

.yachts .yacht-card .inf-but-cont .inf-but {
  position: relative;
  background-color: #F13C20;
  width: 100%;
  height: 56px;
  color: #fff;
  font-size: 1.5rem;
  border-radius: 40px;
  border: 0px;
}

.yachts .yacht-card .inf-but-cont .inf-but p {
  font-family: 'Roboto Flex', sans-serif;
  font-variation-settings: "wdth" 120, "wght" 500, "GRAD" 100, "XTRA" 468, "YOPQ" 90, "YTDE" -203, "YTUC" 712;
}

@media screen and (max-width: 767.98px) {
  .yachts {
    flex-direction: column;
  }
  .yachts .yacht-card {
    width: 100%;
  }
  .yachts .yacht-card:first-child {
    margin-bottom: 40px;
  }
  .main-pic {
    top: 20px;
  }
}

.comments {
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 42px;
}

.comments .comments-card {
  width: 30%;
  background-color: #fff;
  color: #000;
  box-sizing: border-box;
  padding: 28px 28px;
  border-radius: 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 1.5rem;
}

.comments .comments-card .comments-name {
  margin-top: 10px;
  font-variation-settings: "wdth" 120, "wght" 500, "GRAD" 100, "XTRA" 468, "YOPQ" 90, "YTDE" -203, "YTUC" 712;
}

.comments .comments-card .comments-name p {
  text-align: center;
}

@media screen and (max-width: 767.98px) {
  .comments {
    flex-direction: column;
  }
  .comments .comments-card {
    width: 100%;
  }
  .comments .comments-card:not(:first-child) {
    margin-top: 24px;
  }
}

.contacts {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 16px;
  background-color: #fff;
  border-radius: 32px;
  margin-top: 42px;
}

.contacts .data {
  display: flex;
  flex-direction: column;
  width: 28%;
  font-size: 1.5rem;
  text-align: center;
  text-decoration: none;
}

.contacts .data .data-corr:not(:last-child) {
  margin-bottom: 54px;
}

.contacts .data .mini-title {
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 8px;
}

.contacts .data .mini-title p {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 16px;
  text-decoration: none;
}

.contacts .map {
  width: 70%;
  border-radius: 18px;
}

.contacts .map iframe {
  border-radius: 18px;
}

@media screen and (max-width: 1249.98px) {
  .contacts .data {
    width: 60%;
  }
  .contacts .map {
    width: 38%;
  }
}

@media screen and (max-width: 629.98px) {
  .contacts {
    flex-direction: column;
  }
  .contacts .data {
    width: 100%;
    order: 1;
  }
  .contacts .map {
    width: 100%;
    height: 344px;
    order: 0;
    margin-bottom: 16px;
  }
}

footer {
  width: 100%;
  height: fit-content;
  box-sizing: border-box;
  padding: 28px 0px 56px 0px;
  background-color: #032270;
  color: #fff;
  z-index: 1;
  margin-top: 10vw;
}

footer .footer-content {
  width: 1200px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

footer .footer-content .footer-title {
  font-size: 1.5rem;
  font-variation-settings: "wdth" 151, "wght" 800, "GRAD" 0, "XTRA" 480, "YOPQ" 25, "YTDE" -305, "YTUC" 760;
  text-align: center;
}

footer .footer-content .footer-data {
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1.5rem;
  text-decoration: none;
}

footer .footer-content .footer-data p {
  width: 100%;
  text-decoration: none;
}

@media screen and (max-width: 1249.98px) {
  footer .footer-content {
    width: 90%;
    text-decoration: none;
  }
  footer .footer-content .footer-data {
    flex-direction: column;
  }
  footer .footer-content .footer-data p {
    text-align: right;
    text-decoration: none;
  }
}

@media screen and (max-width: 629.98px) {
  footer .footer-content .footer-title {
    font-size: 1.35rem;
    width: 50%;
    text-decoration: none;
  }
  footer .footer-content .footer-data {
    width: fit-content;
    justify-content: center;
    text-decoration: none;
  }
  footer .footer-content .footer-data .footer-dis {
    display: none;
  }
  footer .footer-content .footer-data p {
    font-size: 1.35rem;
    width: fit-content;
    white-space: nowrap;
    text-decoration: none;
  }
}

.popup {
  z-index: 1001;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-backdrop-filter: blur(32px);
  backdrop-filter: blur(32px);
  box-shadow: inset 0 0 32px 3000px rgba(255, 255, 255, 0.2);
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all ease-in-out .5s;
}

.popup.open {
  opacity: 1;
  visibility: visible;
}

.popup-body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 32px 12px;
}

.popup-content {
  background-color: #fff;
  color: #000;
  width: 452px;
  height: fit-content;
  border-radius: 32px;
  box-sizing: border-box;
}

.popup-content .popup-title {
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  padding: 24px;
}

.popup-content .popup-title p {
  font-variation-settings: "wdth" 151, "wght" 800, "GRAD" 0, "XTRA" 480, "YOPQ" 25, "YTDE" -305, "YTUC" 760;
  font-size: 1.75rem;
}

.popup-content .popup-title .close-popup-content {
  position: absolute;
  right: 24px;
}

.popup-content .popup-title .close-popup-content .close-cont {
  border-radius: 100px;
  width: 32px;
  height: 32px;
  background-color: #cfcfcf;
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup-content .popup-title .close-popup-content .close-cont img {
  width: 20px;
  height: 20px;
}

.popup-content .popup-title .photos {
  width: 120%;
  height: fit-content;
}

.popup-content .popup-title .photos img {
  width: 120%;
}

.popup-content .popup-info {
  box-sizing: border-box;
  padding: 12px 24px 24px 24px;
}

.popup-content .popup-info .element {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1.5rem;
  font-variation-settings: "wdth" 120, "wght" 500, "GRAD" 100, "XTRA" 468, "YOPQ" 90, "YTDE" -203, "YTUC" 712;
  color: #444444;
  padding: 16px 0px;
}

.popup-content .popup-info .element:not(:last-child) {
  border-bottom: solid 2px #dfdfdf;
}

.popup-content .popup-info .element:last-child {
  padding: 16px 0px 0px 0px;
}
